*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container
{
  margin: 0 auto;
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix::before,
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Noto Sans TC","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {

  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  color: #648880;
}

/*
  ========================================
  Header
  ========================================
*/

.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  font-size: 21px;
  margin: 66px 0 22px 0;
  text-align: right;
  color: white;
}
.nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.nav li {
  float: right;
  padding-left: 10px;
  list-style-type: none;
}
.nav a {
  color: white;
}
.nav a:hover {
  color: #648880;
}

/*
  ========================================
  Links
  ========================================
*/

a{
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}

/*
  ========================================
  研討會目的 樣式
  ========================================
*/

.intro {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
/* 題目二：請修改以下選擇器 xxx 為正確值 (10%)*/
/* 說明：在HTML中， 出現在intro類別下的 h2 元素字型為 36px*/
.intro h2 {
  font-size: 36px;
}

/* 題目三：請修改以下選擇器 xxx 為正確值 (10%) */
/* 說明：在HTML中， 出現在intro類別下的 p 元素字型大小為24px, 粗細為 100*/
.intro p {
  font-size: 24px;
  font-weight: 100;
}




/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

/* 題目四：請將按鈕設計為滑鼠移上去時，樣式改變如下： (10%)
          - 背景顏色為 白色
          - 字體顏色為 #648880
*/
.btn-alt:hover {

  background-color:white;
  font-display: #648880;
}


/*
  ========================================
  研討會資訊樣式
  ========================================
*/
.row {
  background: #fff;
}


/* 題目五: 在class="row" 下的 h5 標題樣式中添加下述樣式 (10%)
          - 字型大小 18px
          - 文字置中
          - 文字轉為大寫
*/

.row h5 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;


}

/* 題目六：在class="row" 下的 h3 標題樣式中添加下述樣式 (10%)
          - 字型大小 21px
          - 文字置中
          - 文字添加底線
*/
.row h3 {

  text-align: center;
  font-size: 21px;
  text-decoration: underline;

}

.col-1-3 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}

/* 題目七：請在下方 img 樣式中，添加圓角樣式 30px */
.col-1-3 img {
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
 border-radius: 30px;
}



/*
  ========================================
  Map
  ========================================
*/

/* 題目八：請修改以下選擇器 xxx 為正確值 (10%)*/
/* 說明：將 HTML中 id 為 location 的 h2 標題套用下述樣式 */
h2.container {

  font-size: 36px;
  line-height: 48px;
  padding: 20px 0;
  text-align: center;
}

/* 題目九：請將下方.location-map設定為下述樣式 (10%)
   寬 900px,
   高 400px,
   沒有邊框 */
.location-map {


    height: 400px;
    width: 900px;


}

.contact {
  text-align: center;
  padding: 22px;

}
.contact a:hover {
  border-bottom: 1px dashed;
}

/*
  ========================================
  footer
  ========================================
*/
.primary-footer{
  color: white;
  font-weight: 100;
  text-align: center;
  padding: 24px 0;
}

/*
  ========================================
  CVIN
  ========================================
*/
.inside{
  background: #fff;
  margin-left:50px;
  margin-right:50px;
  padding: 20px;
  color: black;
  font-size: large;
}
.inside h1 {


  display: inline;
  color: black;
  font-size: large;
}
.inside h2{
  font-weight: 400;
  display: inline;
  color: black;
  font-size: large;
}
.inside h3{
  font-weight: 400;
  color: black;
  font-size: 25px;
  text-shadow: -1px -1px 0 #1a79e6,
              1px -1px 0 #1a79e6,
              -1px 1px 0 #efe4d1,
              1px 1px 0 #efe4d1;
}
.button {
  background-color:  #648880; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 45%;
  font-weight: 500;
}
.date h1{
  text-align: center;
  font-size: 100px;
}
.intro h4 {
  font-size: 80px;
  font-weight: bolder;
}